@import url('https://fonts.googleapis.com/css?family=Philosopher:700&display=swap');
body{
    font-family: 'Philosopher', sans-serif;
}
.main-wrapper{
    width:100%;
    margin:0 auto;
    text-align:center;
    font-family: 'Roboto', sans-serif;
}

button{
    background:none;
    border:none;
}
.menu-icon{
    color:#fff;
}
.opennav{
    position:fixed;
    left: 20px;
    top: 40px;
    outline:none;
    transition:ease 0.8s;
}
.closeing{
    float:right;
    padding-right: 20px;
    transition:ease 0.8s;
}
.opennav:focus {
    outline:none;
}
.closeing:focus {
    outline:none;
}
.sidebar-panel.activate{
    margin-left:0px;
    transition:ease 0.8s;
}
.sidebar-panel.unactivate{
    margin-left:-300px;
    transition:ease 0.8s;
}

.black-overlay.dark{
    background:#000;
    z-index:99;
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    opacity:0.5;
}


.sub-head{
    text-align:center;
    width: 100%;
    font-weight:500;
    color:#fff;
    padding:40px 0 30px;
    /* text-transform:uppercase; */
    font-size:2em;
    background:#000;
    font-family: 'Philosopher', sans-serif;
}
.sidebar-panel{
    background:transparent;
    width: 300px;
    position: fixed;
    height: 100%;
    padding-top:20px;
    margin-left:-300px;
    padding-top: 40px;
    z-index: 999;
}
.sidebar-panel ul{
    list-style:none;
    padding:0;
    margin:0;
    margin-top:20px;
}

.sidebar-panel ul li{
    background: #000;
    color: #fff;
    font-size: 1.4em;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 0;
    border: 1px solid #fff;
    transition:ease 0.4s;
    margin-top: 40px;
}
.sidebar-panel ul li a{
    color: white;
    text-decoration: none;
}

.sidebar-panel ul li:hover {
    background: white;
    color: #000;
    box-shadow: 2px 3px 6px 2px #000;
    font-weight:bold;
    transition:ease 0.4s;
    letter-spacing: 5px;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
   
}

.sidebar-panel ul li a:hover{
    color: #000;
}
.side-content{
    width:100%;
    max-width:991px;
    margin:0 auto;
}